
* {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid red;;
}

header, 
footer {
    background-color: lightblue;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    background-color: lightgoldenrodyellow;
    width: 20%;
}
aside:nth-of-type(2) {
    background-color: lightcoral;
}

section {
    width: 60%;
}

@media (max-width: 1023px) {
    aside {
        width: 50%;
    }
    section {
        width: 100%;
        order: 3;
    }
}

@media (max-width: 359px) {
    aside {
        width: 100%;
    }
    section {
        width: 100%;
        order: inherit;
    }
}